# 실행환경
NODE_ENV=development

# Server
SERVER_NAME=Nest11-bullmq
SERVER=DEV
SERVER_PORT=3001

# Swagger 설정
SWAGGER_URL=http://localhost:3000
SWAGGER_TARGET_SELECT=F
SWAGGER_TARGET=
SWAGGER_PATH=swagger

# MySQL
TYPEORM_SYNC=T
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=test_database
MYSQL_ID=test
MYSQL_PW=1234

# BullMQ용 Redis
BULLMQ_REDIS_HOST=localhost
BULLMQ_REDIS_PORT=6379

# JWT 암호화 키
JWT_SECRET=asdf-qwer-1234-5678