# 실행환경
NODE_ENV=development

# Server
SERVER_NAME=nestjs-harness
SERVER=DEV
SERVER_PORT=3000

# Swagger 설정
SWAGGER_URL=http://localhost:3000
SWAGGER_TARGET_SELECT=F
SWAGGER_TARGET=
SWAGGER_PATH=swagger

# MySQL
TYPEORM_SYNC=T
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=test_database
MYSQL_ID=test
MYSQL_PW=1234

# BullMQ용 Redis
BULLMQ_REDIS_HOST=localhost
BULLMQ_REDIS_PORT=6379

# JWT 암호화 키
JWT_SECRET=asdf-qwer-1234-5678

# refresh_token 복원용 AES-256-GCM 키
# 키 생성 ==> node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
TOKEN_CIPHER_KEY=6f4d572b38e186cd624dd12fa58efcf92786597f6ed0f2e3c1afe6a3876fa9b2